.quizz__container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.quizz_logo img {
  margin: 20px;
}

.quizz_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.quizz_logo h3 {
  margin-top: 20px;
}

.quizz_questions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #E45826;
  border-radius: 8px;
  background-color: #F0A500;
  width: 100%;
  height: 200px;
  font-size: 20px;
  margin-bottom: 20px;
}

.quizz_options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.btn-option {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #F0A500;
  width: 50%;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #F0A500;
  margin-bottom: 20px;
}
.btn-option:hover {
  background-color: #E45826;
}
.btn-option:active {
  position: relative;
  top: 2px;
}

.quizz_results {
  width: 100%;
  height: 350px;
  background-color: #E45826;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 400px) and (max-width: 767px) {
  .quizz_logo img {
    width: 78%;
  }
}
